html {
    max-width: 1593px;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
h1 {
    position: absolute;
    clip: rect(0,0,0,0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.menu__link {
    color: #22262A;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.collusion__heading {
    color: #22262A;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.collusion__title {
    color: #22262A;
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.collusion__text {
    color: #22262A;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.button__text {
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: medium;
}
.womans-department__title {
    color: #22262A;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.mans-department__title {
    color: #22262A;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.womans-department__text {
    color: #22262A;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.mans-department__text {
    color: #22262A;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.clothes__title {
    color: #22262A;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}
.clothes__text {
    color: #22262A;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.discounts__old-cost {
    color: #22262A;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.discounts__new-cost {
    color: #CF2929;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.collection__title {
    color: #22262A;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.collection__text {
    color: #22262A;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.images__text {
    color: #22262A;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.recommendations__text {
    color: #22262A;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.recommendations__title {
    color: #22262A;
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.recommendations__button {
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: medium;
}
.about-us__name {
    color: #22262A;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}
.about-us__text {
    color: #22262A;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.about-us__location {
    color: #22262A;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.about-us__email {
    color: #22262A;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.about-us__index {
    color: #22262A;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.form__title {
    color: #22262A;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.field__input {
    color: #22262A;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.field__button {
    color: #22262A;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.link__list {
    color: #22262A;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.first-child__name {
    color: #22262A;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.end__copyright {
    color: #22262A;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.images__text {
    text-decoration: underline;
}
.promobanner {
    background-image: url('Используемые файлы/1_1.png');
    width: 1593px;
    height: 750.48px;
}
.collection {
    background-image: url('Используемые файлы/17 1.png');
    width: 1593px;
    height: 745px;
}
.photoalbum__photo-transparency {
    filter: brightness(0.5);
}
.header__wrapper {
    display: flex;
    flex-flow: row wrap;
}
.header__logo {
    display: flex;
    align-items: center;
    margin: 30px 64px 25px 200px;
} 
.options__menu, .header__icons{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}
.options__menu {
    padding-left: 60px;
    padding-right: 60px;
}
.header__icons {
    display: flex;
    padding-right: 140px;
    padding-left: 60px;
}
.menu__item, .icons__link {
    margin: 25px 0px 25px 0px;
    padding: 0px 15px;
}
.icons__link {
    margin: 15px 0px 25px 0px;
    padding: 0px 15px;
}
.icons__link {
    margin: 30px 4px 25px 22px;
    width: inherit;
}
.womans-department__pricelist , .mans-department__pricelist {
    display: flex;
    justify-content: space-around;
    margin: 60px 150px;
    margin-bottom: 70px;
}
.womans-department__title, .womans-department__text, .mans-department__title, .mans-department__text {
    display: flex;
    justify-content: center;
}
.pricelist__clothes {
    margin: 0px 10px;
}
.discounts__old-cost{
    display: inline-block;
    margin-right: 30px;
    margin-top: -10px;
}
.discounts__new-cost {
    display: inline-block;
    margin-top: -10px;
}
.clothes__text {
    margin-top: -4px;
}
.header__wrapper {
    background-color: #FFFFFF;
    width: 1593px;
    height: 93px;
}
.promobanner__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 225px;
    padding-top: 415px;
}
.collusion__title {
    margin-top: -23px;
}
.collusion__text {
    margin-top: -80px;
    margin-bottom: 32px;
}
.collusion__button {
    margin-left: -15px;
}
.button__text {
    background-color: #22262A;
    padding: 10px 30px;
    margin: 0px 17px;
}
.collection__recommendations {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 436px;
    margin-left: 230px;
}
.recommendations__title {
    margin-top: -25px;
}
.recommendations__button {
    margin-top: -70px;
    margin-left: -10px;
}
.button__text {
    background-color: #22262A;
    padding: 10px 25px;
    margin: 0px 17px;
}
.footer__wrapper {
    display: flex;
    flex-direction: row;
}
/*.footer__link {
    display: flex;
    flex-direction: row;
}*/